{% extends 'base.html.twig' %}

{% block title %}Voiture index{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Liste des Voitures</h1><br>
    <div align="left">
    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-primary" href="{{ path('voiture_new') }}">Créer un nouveau</a>
    {% endif%}
    </div>
     <div align="right">
     <form action="{{ path('voiture_index')}}" method="get">
     <input name="filter" type="text" placeholder="voiture"/>
     <button type="submit" class="btn btn-info">Rechercher</button>
     </form>
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Modèle</th>
                <th>Marque</th>
                <th>Couleur</th>
                <th>Prix par jour</th>
                <th>Image</th>
                <th>Disponible</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voiture in voitures %}
            <tr>
                <td>{{ voiture.nom }}</td>
                <td>{{ voiture.modele }}</td>
                <td>{{ voiture.marques.nom }}</td>
                <td>{{ voiture.couleur }}</td>
                <td>{{ voiture.prixparjour }}</td>
                <td> <img src="{{ asset('images/' ~ voiture.image) }}" width="100px" heigth="100px" /></td>
                <td>
                    {% if voiture.disponible == true %}
                    <a class="btn btn-warning">Oui</a>
                    {% else %}
                    <a class="btn btn-danger">Non</a>
                    {% endif %}
                </td>
                
                <td>
                    <a href="{{ path('voiture_show', {'id': voiture.id}) }}" class="btn btn-info" >afficher</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('voiture_edit', {'id': voiture.id}) }}" class="btn btn-success" >modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
         <div class="col-12">
              {{ knp_pagination_render(voitures) }}
          </div>

    </div>
{% endblock %}
